<div mat-dialog-container style="position: relative" [ngStyle]="{'border': borderService.isBorder ? '1px solid red' : 'none'}">
  <app-mat-dialog-close-button [style]="{'position': 'absolute', 'top': '0', 'right': '0'}"></app-mat-dialog-close-button>
  <h1 mat-dialog-title style="text-align: center">Add User</h1>
  <mat-dialog-content>
    <ng-container [ngSwitch]="userType">
      <app-tenant-user *ngSwitchCase="'tenant'" [title] = "'Tenant Level User'" [class]="'mat-elevation-z0'" [style]="{'border': borderService.isBorder ? '1px solid green' : 'none'}"></app-tenant-user>
      <app-organization-user *ngSwitchCase="'organization'" [title] = "'Organization Level User'" [class]="'mat-elevation-z0'" [style]="{'border': borderService.isBorder ? '1px solid green' : 'none'}"></app-organization-user>
      <app-basic-user *ngSwitchCase="'basic'" [title] = "'Basic User'" [class]="'mat-elevation-z0'" [style]="{'border': borderService.isBorder ? '1px solid green' : 'none'}"></app-basic-user>
    </ng-container>
  </mat-dialog-content>
  <div mat-dialog-actions style="float: right">
    <button mat-stroked-button style="margin-right: 1rem" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary">Save</button>
  </div>
</div>
