<mat-sidenav-container class="sidenav-container">
  <!-- side navigation bar -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let item of sideNavItems" [value]="item">
        <a style="display: flex; align-items: center; text-decoration: none;" [routerLink]="[item.route]">
          <mat-icon style="margin-right: 10px;color:rgb(96, 96, 95)">{{item.icon}}</mat-icon>
          <p style="margin: 0;color:rgb(96, 96, 95)">{{item.name}}</p>
        </a>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <!-- side navigation bar -->
  <mat-sidenav-content>
    <!-- header -->
    <mat-card style="display: flex; justify-content: space-between; align-items:center;">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon style="color:rgb(96, 96, 95)">menu</mat-icon>
      </button>
      <div style="display: flex; align-items: center;">
        <mat-icon style="margin-right: 10px;">info</mat-icon>
        <mat-icon>notifications</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">
          <div style="display: flex; align-items: center;">
            <p style="margin: 0;">Welcome Krista</p>
            <mat-icon>expand_more</mat-icon>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-card>
    <!-- header -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>