.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
// mat-list-option[aria-selected="true"] {
//   background: rgba(0, 139, 139, 0.7);
// }
// mat-list-option[aria-selected="true"]  .menu-item > * {
//   color: white !important;
// }