<div style="padding: 0 10px; display: flex; height: 350px; justify-content: space-between; align-items: center" [ngStyle]="{'border': borderService.isBorder ? '1px solid red' : 'none'}" >
  <mat-card style="height: 100px">
    <mat-icon class="material-icons-outlined">track_changes</mat-icon>
    <span>FWA FINDER</span>
  </mat-card>
  <mat-card style="height: 100px">
    <mat-icon class="material-icons-outlined">desktop_windows</mat-icon>
    <span>CASE MANAGER</span>
  </mat-card>
  <mat-card style="height: 100px">
    <mat-icon class="material-icons-outlined">grid_view</mat-icon>
    <span style="text-align: center;">OUTCOME SIMULATOR</span>
  </mat-card>
</div>
