<div style="display: flex; height: fit-content; justify-content: center; align-items: center" [ngStyle]="style">
  <mat-card [class]="class">
    <mat-card-subtitle style="">{{title}}</mat-card-subtitle>
    <mat-card-content style="display: flex">
      <div style="display: flex; flex-direction: column; align-items: center" [ngStyle]="{'margin-right': '20px','border': borderService.isBorder ? '1px solid yellow' : 'none', 'height': 'fit-content'}">
        <mat-icon style="font-size: 80px;height: fit-content; width: fit-content" class="material-icons-outlined">home</mat-icon>
        <app-mat-upload-button></app-mat-upload-button>
      </div>
      <!--  form-->
      <div [ngStyle]="{'border': borderService.isBorder ? '1px solid green' : 'none', 'height': 'fit-content'}">
        <!--    first row-->
        <div style="display: flex;">
          <app-mat-form-field [label]="'First Name'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Middle Name'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Last Name'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
        </div>
        <!--    second row-->
        <div style="display: flex;">
          <app-mat-form-field [label]="'Unique ID'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Email'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Username'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
        </div>
        <!--    third row-->
        <div style="display: flex;">
          <app-mat-form-field [label]="'Password'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Confirm Password'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-autocomplete-field [label]="'Permission Scheme'" [placeholder]="'Placeholder'" ></app-mat-autocomplete-field>
        </div>
        <!--    fourth row-->
        <div style="display: flex;">
          <app-mat-form-field [label]="'Contact Number'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Language'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Zip Code'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
        </div>
        <!--    fifth row-->
        <app-mat-form-field [label]="'Street'" [style]="{'width': '100%'}" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
        <!--    sixth row-->
        <div style="display: flex;">
          <app-mat-form-field [label]="'City'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'State'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
          <app-mat-form-field [label]="'Country'" [type]="'string'" [required]="true" [placeholder]="'Placeholder'"></app-mat-form-field>
        </div>
        <!--  seventh row-->
        <app-mat-autocomplete-field [label]="'Organization'" [placeholder]="'Placeholder'" ></app-mat-autocomplete-field>
        <!--  eighth row-->
        <app-mat-chip-field [label]="'User Group'" [placeholder]="'New User Group...'" ></app-mat-chip-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
