<mat-card class="card-5">
  <div style="display: flex; justify-content: space-between; align-items: center; height: 100%; border: 1px solid green">
      <div style="border: 1px solid; width: 25%">
        <mat-icon style="color: #005953; font-size: 120px">lock</mat-icon>
      </div>
      <div style="border: 1px solid red; width: 70%">
        <p style="font-size: 20px; font-weight: 500">Welcome to Alivia Security App ! Let's get started</p>
        <p style="font-size: 13px;display: flex">Our software suite is designed to work the way you work and deliver the answers you need when you need them. By understanding our customers and the problems they need to solve, we turn mountains of data into actionable answers, fast. Every module empowers you to go beyond recovery to prevention and simulation and our rapid set-up gets you up and running in days, not months.</p>
      </div>
  </div>
</mat-card>
