<div [ngStyle]="{'display': 'flex','height': '400px', 'border': borderService.isBorder ? '1px solid red' : 'none', 'justify-content': 'center', 'align-items': 'center'}"
style="padding: 2rem 0.5rem;"
>
  <mat-card class="mat-elevation-z3">
    <mat-card-subtitle style="">Department Form</mat-card-subtitle>
    <mat-card-content style="display: flex">
      <div style="display: flex; flex-direction: column; align-items: center" [ngStyle]="{'margin-right': '20px','border': borderService.isBorder ? '1px solid yellow' : 'none', 'height': 'fit-content'}">
        <mat-icon style="font-size: 80px;height: fit-content; width: fit-content" class="material-icons-outlined">home</mat-icon>
        <div>
          <input type="file" class="file-input" #fileUpload>
          <button mat-flat-button color="primary" (click)="fileUpload.click()">
            <mat-icon>file_upload</mat-icon>
            <span>Upload</span>
          </button>
        </div>
      </div>
      <!--  form-->
      <div [ngStyle]="{'border': borderService.isBorder ? '1px solid green' : 'none', 'height': 'fit-content'}">
        <!--    first row-->
        <div style="display: flex;">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" required>
          </mat-form-field>
          <app-mat-autocomplete-field [label]="'Tenant'" placeholder="Placeholder"></app-mat-autocomplete-field>
          <mat-form-field appearance="outline">
            <mat-label>Organization</mat-label>
            <input matInput placeholder="Placeholder" required>
          </mat-form-field>
        </div>
        <!--    fourth row-->
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
