<mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
  <mat-tab label="Basic Info">
    <app-basic-info [title] = "'Organization'"></app-basic-info>
  </mat-tab>
  <mat-tab label="Product Access">
    <app-product-access></app-product-access>
  </mat-tab>
  <mat-tab label="Hierarchy">
    <app-hierarchy></app-hierarchy>
  </mat-tab>
  <mat-tab label="Policies">
    <app-policies></app-policies>
  </mat-tab>
</mat-tab-group>
<button mat-raised-button color="primary" style="height: fit-content; width: 5rem; float: right" (click)="nextButton()">
  Next
</button>

