<div class="login-parent">
  <mat-card class="login-card">
    <div class="login-parent-form">
      <div class="login-form">
        <p class="text-center mat-h3 font-weight-500 margin-0">Welcome To</p>
        <p class="text-center mat-headline font-weight-500">Alivia Security App</p>
        <mat-form-field appearance="outline" class="field-width-100">
          <mat-label>Username</mat-label>
          <span matPrefix class="display-flex">
            <mat-icon matSuffix>person</mat-icon>
            <span> &nbsp;</span>
          </span>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-width-100">
          <mat-label>Password</mat-label>
          <span matPrefix class="display-flex">
            <mat-icon matSuffix>lock</mat-icon>
            <span> &nbsp;</span>
          </span>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="action-button-row">
          <button mat-raised-button color="primary" (click)="signIn()">Login</button>
          <button mat-stroked-button>Clear</button>
        </div>
      </div>
    </div>
    <div class="security-info">
<!--      <p>info</p>-->
    </div>
  </mat-card>
</div>
