/**
* Author page design which will be used all over the 
* authentication screens (Like Login, Signup, Forgot Password)
* @author Tariq Akram
* @date 14-02-2022
*/

$circleShape: 500px;
$cicleShapeColor: #e4e6e7;
.auth-body {
  height: 100vh;
  width: 100%;
  background: url(../../../../../assets/media/auth-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  @media (max-height: 600px) {
    overflow-y: auto;
    min-height: 430px;
  }
  .wrap {
    max-width: 800px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    height: fit-content;
    transform: translateY(-50%);
    z-index: 9;
    box-shadow: 0px 0px 6px 0px #ccc;

    header {
      text-align: center;
      margin-top: 30px;
    }

    article {
      flex: 0 0 50%;
      @media (max-width: 639px) {
        flex: 0 0 100%;
        width: 100%;
      }
      h1 {
        margin: 0;
        span {
          font-size: 30px;
          display: block;
          color: #00796b;
        }
      }

      > div {
        padding: 20px;
      }
      &.content {
        background: url(../../../../../assets/media/auth-img.jpg) no-repeat;
        background-size: cover;
        position: relative;
        @media (max-width: 639px) {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
        }
        img {
          display: table;
          margin: 0 auto;
        }
        div {
          padding: 40px;
          position: relative;
          z-index: 2;
          height: calc(100% - 80px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        p {
          color: #ffffff;
          font-size: 13px;
          line-height: 22px;
          font-weight: 300;
        }
      }
    }

    .btn-wrap {
      display: flex;
      button {
        flex: 0 0 calc(50% - 8px);
        margin-bottom: 16px;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    > :not(:last-child) {
      margin-bottom: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    .mat-form-field > div {
      padding-bottom: 10px;
    }
  }
}
