.login-parent {
  height: 100%;
  background: yellow;
  display: flex;
}
.login-card {
  max-width: 800px;
  min-width: 100px;
  margin: auto;
  display: flex;
  padding: 0;
}
.login-parent-form {
  padding: 16px;
  min-width: 50px;
  width: 350px;
}
.login-form {
  background: pink;
}
.security-info {
  width: 350px;
  min-width: 50px;
  background: purple;
}