<section class="auth-body">
  <mat-card class="wrap">
    <article>
      <header>
        <h1><span>Alivia Security</span></h1>
      </header>
      <div>
        <form action="">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <span matPrefix>
              <mat-icon matSuffix>person</mat-icon>
            </span>
            <input matInput placeholder="abc@gmail.com">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <span matPrefix>
              <mat-icon matSuffix>lock</mat-icon>
            </span>
            <input matInput placeholder="abc@gmail.com" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="btn-wrap">
            <button mat-raised-button color="primary" (click)="signIn()">Login</button>
            <button mat-stroked-button>Clear</button>
          </div>
        </form>
      </div>
    </article>
    <article class="content">
      <div>
        <img src="../../../../../assets/media/alivia-whitelogo.png" width="170" />
        <p>Alivia Analytics is the only healthcare payment integrity platform built to save you time. To us, AI and
          machine learning aren’t just buzzwords or trends – they are powerful tools that enable you to get the accurate
          answers you need when you need them. Our software suite is purpose-built to ingest everything and anything –
          literally.</p>
      </div>
    </article>
  </mat-card>
</section>