<div mat-dialog-container style="position: relative" [ngStyle]="{'border': borderService.isBorder ? '1px solid red' : 'none'}">
  <app-mat-dialog-close-button [style]="{'position': 'absolute', 'top': '0', 'right': '0'}"></app-mat-dialog-close-button>
  <h1 mat-dialog-title style="text-align: center">Add User Group</h1>
  <mat-dialog-content>
    <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
      <mat-tab label="Basic Info">
        <app-basic-info-user-group></app-basic-info-user-group>
      </mat-tab>
      <mat-tab label="Product Access">
        <app-product-access></app-product-access>
      </mat-tab>
      <mat-tab label="User">
        <app-basic-user [class]="'mat-elevation-z3'" [title] = "'Basic User'" [style]="{'border': borderService.isBorder ? '1px solid green' : 'none', 'padding': '30px 30px'}"></app-basic-user>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions style="float: right">
    <button (click)="backButton()" mat-stroked-button style="margin-right: 1rem">Back</button>
    <button (click)="nextButton()" mat-flat-button color="primary">Next</button>
  </div>
</div>
