<div [ngStyle]="{
  'border': borderService.isBorder ? '1px solid red' : 'none',
  'padding': '20px 20px',
  'width': '100%',
  'display' : 'flex',
  'flex-direction': 'column',
  'margin': 'auto'
}">
  <mat-card class="mat-elevation-z2" style="width: 500px;margin-bottom: 20px">
    <mat-card-subtitle>Note:</mat-card-subtitle>
    <mat-card-content [ngStyle]="{'border': borderService.isBorder ? '1px solid green' : 'none', 'height': 'fit-content'}">
      <p style="margin: 0; font-size: small">
        Whichever Hierarchy Super User will select, will be available to Organization for further actions.
        If checkbox for any of the above-mentioned hierarchy is marked as ‘true’, then Checkbox for the ‘User’ shall be marked as ‘true’ ‘by default.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z2"  style="width: 500px;">
    <mat-card-subtitle>Permission</mat-card-subtitle>
    <mat-card-content>
      <div *ngFor="let item of hierarchy" [ngStyle]="{'display' : 'flex', 'flex-direction': 'column', 'border': borderService.isBorder ? '1px solid green' : 'none', 'height': 'fit-content'}">
          <div style="display: flex; justify-content: space-between; align-items: center">
            <p>{{item}}</p>
            <mat-slide-toggle [checked]="(item === 'User Groups' || item === 'User')" [disabled]="(item === 'User Groups' || item === 'User')" color="primary"></mat-slide-toggle>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
